<%=render 'sections/menu' %>

<section>
  <div class="section-admin">
  <h1>Welcome Dashboard</h1>

 <% @allsections.each do |section| %>
  <article class="admin-article">
 <div class="title-txt">
   <div class="title-btn">

<h2><%=section.title%></h2>
<div class="btn-action">

 <div class="button-head btn btn-mini "> <%= link_to 'Nouvelle Section',:controller => 'sections', :action =>'new'%></div>
</div>
</div>
<p class="text-admin"> Lorem ipsum</p>
</div>

<table>
  <colgroup>
<col class="size-title">
<col class="size-corps">
<col class="size-action">
</colgroup>
   <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Titre</th>
           <th>Corps</th>
           <th>Actions</th>
       </tr>
   </thead>
   <tbody>
    <%# @section.articles.each do | article | %>
    <tr>
      <td class="titletab"><!-- Ajouter le article.title--></td>
      <td class="corpstab"><!-- Ajouter le article.resume--></td>
      <% btn_eye = image_tag('eye.png') %>
      <% btn_edit = image_tag('pencil.png')%>
      <% btn_remove = image_tag ('remove.png') %>
      <td class="actiontab"><%= link_to btn_eye,'' %><%= link_to btn_edit,''%><%= link_to btn_remove, ''%> </td>
    </tr>
      <%#end %>
    </tbody>
</table>
<% btn_article = image_tag('plus.png') %>
<%= link_to btn_article, :render => 'articles/form' %>
</article>
<%end %>
</section>

