<div class="section-index">
<h2 class="title-edit-new">Edit</h2>

<%= simple_form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put }) do |f| %>

  <%= f.error_notification %>
    <%flash.each do |key,msg| %>
<%= content_tag(:div, content_tag(:p,msg), :class =>"message #{key}") %>
<% end %>
<ul class="form">
  <div class="inputs">
   <li><%= f.label :email, :class => 'label-edit-form' %><%= f.email_field :email, :required => true, :autofocus => true, :class => 'size-input-edit'%></li>
    <li><%= f.label :New_password, :class => 'label-pass-form' %><%= f.password_field :password, :autocomplete => "off", :hint => "Password (Laissez blanc si vous voulez pas le changer)", :required => false,:class => 'size-input-edit' %></li>
    <li><%= f.label :Password_confirmation, :class => 'label-conpass-form'%><%= f.password_field :password_confirmation,:hint => "Confirmation password", :required => false,:class => 'size-input-edit' %></li>

    <li><%= f.label :Actuel_Password, :class => 'label-actual-form' %><%= f.password_field :current_password, :hint => "Rentrer votre mot de passe actuel pour valider ", :required => true,:class => 'size-input-edit' %></li>
  </div>

  <div class="actions">
    <%= f.button :submit, "Modifier", :class => 'btn btn-primary submit-input submit-edit' %>
  </div>
<% end %>
</ul>
</div>



