<div class="section-index">
<h2 class="title-edit-new">Edit</h2>

<%= simple_form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put }) do |f| %>

  <%= f.error_notification %>
<ul class="form">
  <div class="inputs">
   <li><%= f.label :email %><%= f.email_field :email, :required => true, :autofocus => true, :class => 'size-input-edit'%></li>
    <li><%= f.label :New_password %><%= f.password_field :password, :autocomplete => "off", :hint => "Password (Laissez blanc si vous voulez pas le changer)", :required => false,:class => 'size-input-edit' %></li>
    <li><%= f.label :Password_confirmation%><%= f.password_field :password_confirmation,:hint => "Confirmation password", :required => false,:class => 'size-input-edit' %></li>
    <li><%= f.label :Actuel_Password %><%= f.password_field :current_password, :hint => "Rentrer votre mot de passe actuel pour valider ", :required => true,:class => 'size-input-edit' %></li>
  </div>

  <div class="actions">
    <%= f.button :submit, "Modifier", :class => 'btn btn-primary submit-input' %>
  </div>
<% end %>
</ul>
</div>



