<div class="section-index">
<h2 class="title-edit-new">Inscription</h2>

<%= simple_form_for(resource_name, :as => resource, :url => user_registration_path()) do |f| %>
<%= f.error_notification %>
<ul class="form">
  <div class="inputs">
   <li> <%= f.label :email, :class => 'label-new-form' %>
   <%= f.email_field :email, :required => true, :class =>'size-input-edit', :autofocus => true %></li>
   <li> <%= f.label :password, :class => 'label-passnew-form' %>
    <%= f.password_field :password, :class =>'size-input-edit', :required => true %></li>
    <li class="passwordconfirm"> <%= f.label :password_confirmation, :class => 'label-conpassnew-form' %>
  <%= f.password_field :password_confirmation, :class =>'size-input-edit', :required => true %></li>
  </div>
  <li class="checkbox-admin">
  <%= f.label :admin%>
  <%= f.check_box (:admin) %></li>

  <div class="actions">
 <%= f.button :submit, "Inscription", :class => 'btn btn-primary submit-input submit-new '%>
  </div>
<% end %>

</ul>
</div>
