<%= form_for(@redmine_admin) do |f| %>
  <% if @redmine_admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redmine_admin.errors.count, "error") %> prohibited this redmine_admin from being saved:</h2>

      <ul>
      <% @redmine_admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="php_form">
  <div class="field">
    <%= f.label :admin_title, :class =>'label-php-redmine' %>
    <div class="input-php">
    <%= f.text_field :admin_title %>
  </div>
  </div>
  <div class="php_form">
    <div class="field">
          <%= f.label :numero_project, :class =>'label-php-redmine' %>
    <div class="input-php">
    <%= f.text_field :numero_project %>
  </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit"Editer", :class => 'btn btn-primary submit-input submit-php ' %>
  </div>
<% end %>
