<div class="section-index">
<h1>Listing redmine_admins</h1>

<table>
  <tr>
    <th>Admin title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @redmine_admins.each do |redmine_admin| %>
  <tr>
    <td><%= redmine_admin.admin_title %></td>
    <td><%= link_to 'Show', redmine_admin %></td>
    <td><%= link_to 'Edit', edit_redmine_admin_path(redmine_admin) %></td>
    <td><%= link_to 'Destroy', redmine_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Redmine admin', new_redmine_admin_path %>
</div>
