<aside>
<nav class="vertical">
<ul class="ul-menu">

  <li class="title-ul">Sections</li>

   <% @allsections.each do |section| %>
  <li class="menu <%= 'is-active' if current_page?(section) %>"><div class="menu-size"><%=link_to section.title, section %></div></li>
  <% end %>
<li class="menu"><div class="menu-size" ><%= link_to 'New Section', new_section_path %> </div></li>
<% if user_signed_in? %>
<li class="menu "><div class="menu-size" ><%= link_to 'Admin', :controller => 'dashboard', :action => 'index'%></div></li>
<% end %>
</ul>

  <FORM ACTION = "" METHOD = "GET">
  <ul class="form">
     <% if user_signed_in? %>
  <%=link_to "Deconnexion", destroy_user_session_path, :method => :delete, :class => "btn btn-primary submit-input" %>
  <% else %>

 <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary submit-input" %>
  <% end %>


<%flash.each do |name,msg| %>
<%= content_tag :div, msg, :id =>"flash_#{name}"%>
<% end %>
  <!--<li><INPUT TYPE = "text" NAME = "login" value="Login" class="connexion-input"></li>
  <li><INPUT TYPE = "password" NAME = "password" value="Password" class="connexion-input"></li>
   <li><input type="submit" class="btn btn-primary  submit-input" value="Connexion">
  </li>-->
</ul>
    </FORM>
</nav>
</aside>
