<aside>
<nav class="vertical">
<ul class="ul-menu">

  <li class="title-ul">Sections</li>

   <% @allsections.each do |section| %>
  <li class="menu <%= 'is-active' if current_page?(section) %>"><div class="menu-size"><%=link_to section.title, section %></div></li>
  <% end %>
<% if user_signed_in? %>
<li class="menu  "><div class="menu-size" ><%= link_to 'Admin', :controller => 'dashboard', :action => 'index'%></div></li>
<% end %>
</ul>


  <ul class="form">
     <% if user_signed_in? %>
  <%=link_to "Deconnexion", destroy_user_session_path, :method => :delete, :class => "btn btn-primary submit-deco" %>
  <% else %>
 <%= render :file =>"devise/sessions/new" %>
 <%#= link_to "Sign in", new_user_session_path, :class => "btn btn-primary submit-input" %>
  <% end %>


<%flash.each do |name,msg| %>
<%= content_tag :div, msg, :id =>"flash_#{name}"%>
<% end %>
</ul>

</nav>
</aside>
