<aside>
<nav class="vertical">




   <% @alldivisions.each do |division| %>
   <ul class="ul-menu">
   <li class="title-ul" ><%=division.title  %></li>
    <% division.sections.each do | section | %>
  <li class="menu <%= 'is-active' if current_page?(division_section_path(division,section)) %>"><div class="menu-size"><%=link_to section.title, division_section_path(division,section) %></div></li>
  <% end %>

</ul>
<%end%>
<hr class="hr-menu"/>


  <ul class="form">
    <% if user_signed_in? %>
<li class="menu menu-admin <%= 'is-active ' if current_page?(:controller => 'dashboard', :action => 'index')%> "><div class="menu-size" ><%= link_to 'Admin', dashboard_index_path%></div></li>
<% end %>
<% if current_user && current_user.admin? %>
<li class="menu menu-admin <%= 'is-active ' if current_page?(:controller => 'users', :action => 'index')%> "><div class="menu-size" ><%= link_to 'Users', users_index_path%></div></li>
<% end %>
<%if user_signed_in?  %>
<li class="menu menu-admin <%= 'is-active' if current_page?(edit_user_registration_path) %>"><div class="menu-size"><%= link_to "Profil", edit_user_registration_path %></div></li>
  <%end %>
     <% if user_signed_in? %>
  <%=link_to "Deconnexion", destroy_user_session_path, :method => :delete, :class => "btn btn-primary submit-deco" %>
  <% else %>
 <%= render :file =>"devise/sessions/new" %>
 <%#= link_to "Sign in", new_user_session_path, :class => "btn btn-primary submit-input" %>
  <% end %>




</ul>

</nav>
</aside>
