<aside>
<nav class="vertical">
<ul class="ul-menu">

  <li class="title-ul">Divisions</li>

   <% @alldivisions.each do |division| %>
   <li class="menu menu-admin <%= 'is-active' if current_page?(division)%>"><div class="menu-size"><%=link_to division.title, division %></li>
    <% division.sections.each do | section | %>
  <li class="menu <%#= 'is-active' if current_page?(section) %>"><div class="menu-size"><%=link_to section.title,'' %></div></li>
  <% end %>

</ul>
<%end%>

  <ul class="form">
    <% if user_signed_in? %>
<li class="menu menu-admin <%= 'is-active ' if current_page?(:controller => 'dashboard', :action => 'index')%> "><div class="menu-size" ><%= link_to 'Admin', :controller => 'dashboard', :action => 'index'%></div></li>
<% end %>
     <% if user_signed_in? %>
  <%=link_to "Deconnexion", destroy_user_session_path, :method => :delete, :class => "btn btn-primary submit-deco" %>
  <% else %>
 <%= render :file =>"devise/sessions/new" %>
 <%#= link_to "Sign in", new_user_session_path, :class => "btn btn-primary submit-input" %>
  <% end %>



</ul>

</nav>
</aside>
