
<section>
  <div class="section-index">

<h1>
  <%= @section.title %>
</h1>

<% @section.articles.each do | article | %>
<article>
  <% pos = cycle('txt-index-pos-left', 'txt-index-pos-right', :name => 'position')
posimg = cycle('img-index-pos-right','img-index-pos-left', :name => 'positionimg')
%>
<div class="<%= pos %>">
  <%= image_tag article.image_url(:thumb).to_s, :class=> posimg %>
    <h2><%= article.title %></h2>
    <p><%=article.resume.html_safe %></p>
   <%= link_to 'Suite', division_section_article_path(@division,@section,article)  %>


<hr class="<%= cycle('hr-index-left','hr-index-right') %>"/>
</div>
</article>
  <%end %>
</div>
</section>
