
<section>
  <div class="section-index">
     <%flash.each do |key,msg| %>
<%= content_tag(:div, content_tag(:p,msg), :class =>"message #{key}") %>
<% end %>

<h1>
  <%= @section.title %>
</h1>

<% @section.articles.each do | article | %>
<% articlepos = cycle('articlepos-left', 'articlepos-right', :name =>'articleposition') %>
<article class="<%= articlepos %>">
  <%
 pos = cycle('txt-index-pos-left', 'txt-index-pos-right', :name => 'position')
posimg = cycle('img-index-pos-right','img-index-pos-left', :name => 'positionimg')
%>

<div class="<%= pos %>">
  <div class="<%= posimg %>">
  <%= image_tag article.image_url(:thumb).to_s, :class => 'imgpos'%>
</div>

    <h2><%= article.title %></h2>

    <p><%=article.resume.html_safe %></p>
   <%= link_to 'Suite', division_section_article_path(@division,@section,article)  %>


<hr class="<%= cycle('hr-index-left','hr-index-right') %>"/>
</div>

</article>
  <%end %>
</div>
</section>
