<div class="section-index">
<h1>Listing php_admins</h1>

<table>
  <tr>
    <th>Admin title</th>
    <th>Php project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @php_admins.each do |php_admin| %>
  <tr>
    <td><%= php_admin.admin_title %></td>
    <td><%= php_admin.php_project %></td>
    <td><%= link_to 'Show', php_admin %></td>
    <td><%= link_to 'Edit', edit_php_admin_path(php_admin) %></td>
    <td><%= link_to 'Destroy', php_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

</div>
