<%= form_for(@adminform) do |f| %>
  <% if @adminform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adminform.errors.count, "error") %> prohibited this adminform from being saved:</h2>

      <ul>
      <% @adminform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="php_form">
  <div class="field">
    <%= f.label :php_project, "Id du projet Php", :class => 'label-php-redmine' %>
    <div class="input-php">
    <%= f.number_field :php_project %>
  </div>
</div>
  </div>

  <div class="php_form">
  <div class="field">
    <%= f.label :php_title, "Titre du ticket Php",:class => 'label-php-redmine' %>
    <div class="input-php">
    <%= f.text_field :php_title %>
  </div>
  </div>
</div>

  <div class="php_form">
  <div class="field">
    <%= f.label :redmine_project, "Id du projet Redmine",:class => 'label-php-redmine' %>
    <div class="input-php">
    <%= f.number_field :redmine_project %>
  </div>
</div>
  </div>

<div class="php_form">
  <div class="field">
    <%= f.label :redmine_title, "Titre du ticket Redmine",:class => 'label-php-redmine' %>
      <div class="input-php">
    <%= f.text_field :redmine_title %>
  </div>
</div>
  </div>
  <div class="actions">
    <%= f.submit "Editer", :class => 'btn btn-primary submit-input submit-php ' %>
  </div>
<% end %>
