<!-- Ce que l'utilisateur rempli et envoi -->
<div class="section-index">
<%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%= form.label :nom_environnement %>
      <%= form.text_field :nom_environnement %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    <div class="field">
      <%= form.label :Type_bdd %>
      <%= form.select(:bdd,  Message::BDD_TYPES) %>



    </div>

    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, :placeholder => 'Ecrire le corps de votre message ainsi que un ou des emails supplémentaires' %>
    </div>
  </fieldset>

  <fieldset class="actions">
    <%= form.submit "Send" %>
  </fieldset>
<% end %>
</div>
