<!-- Ce que l'utilisateur rempli et envoi -->
<div class="section-index">
<%= form_for @issue, :url => contact_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%#= form.label :subject %>
      <%= form.hidden_field :subject, :value => "Php Creation" %>
      <%#= form.text_field :subject %>
    </div>
<div class="field">
   <%= form.hidden_field :project_id, :value => "1" %>
<%#=form.label :project_id %>
<%#= form.text_field :project_id %>
</div>
    <div class="field">
      <%= form.label :priority_id %>

      <%= form.select :priority_id, options_for_select({ "Bas" => "1", "Normal" => "2", "Haut" => "3", "Urgent" => "4", "Immediat" => "5" }, "2") %>
    </div>


    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, :placeholder => 'Veuillez indiqué le nom d environnement , le type de base de donnée (MYSQL ou POSTGRESQL) et un ou plusieurs mail' %>
    </div>
  </fieldset>

  <fieldset class="actions">
    <%= form.submit "Send" %>
  </fieldset>
<% end %>
</div>
