<!DOCTYPE html>
<html>

 <head>
<title>Redmine</title>
<!-- En-tête du document  -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Lien vers la font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800' rel='stylesheet' type='text/css'>


  <!--  feuille CSS externe  -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "markitup/skins/markitup/style.css", "markitup/sets/markdown/style.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.js", "markitup/jquery.markitup.js", "markitup/sets/markdown/set.js"%>
  <%= csrf_meta_tags %>



  <!-- CSS dans la page  -->
  <style type="text/css" media="screen">
  body{
  }
  </style>

  <!--fichier JavaScript  -->
 <!-- <script type="text/javascript" src="votre-script.js"></script>-->

  <!-- JavaScript dans la page  -->
  <script type="text/javascript">
    $(document).ready(function(){
      $(".markitup").markItUp(mySettings);
    });
  </script>

 </head>


<!DOCTYPE html>
<html>
<head>

</head>
<body>
   <%= render 'sections/menu' %>
  <section>
  <div class="section-index">

<%= yield %>
</div>
</section>
</body>
</html>
